@import url('https://fonts.cdnfonts.com/css/star-wars');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Star Wars', sans-serif;
    text-decoration: none;
    font-style: none;
    color: #fff;
}

body {
    background-image: url('./assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header-container {
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;  
    align-items: center;
}

.logo-image {
    width: 130px;
}

.logo-text {
    font-size: 16px;
}

.social-media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

i {
    font-size: 30px;
    color: #ffd700;
    transition: .3s linear;
}

i:hover {
    color: #fff;
    transform: scale(1.2);
}

.main-container {
    max-width: 1768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 0;
}

h2 {
    font-weight: 300;
    text-align: center;
    border-radius: 8px;
    color: #ffd700;
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-bottom: 20px;
    text-shadow: 0px 2px #fff;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.cards {
    width: 250px;
    height: 370px;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    padding: 6px;
}

.cards:hover {
    transform: scale(1.04);
}

.character-name-bg {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.character-name {
    font-size: 16px;
    color: #ffd700;
}

.buttons-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#back-button {
    visibility: hidden;
}

button {
    padding: 6px 10px ;
    background: #ffd700;
    color: #000;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 4px;
    border: 1px solid #000;
    cursor: pointer;
    outline: none;
    transition: 0.3s linear;

}

button:hover {
    background: #000;
    color: #ffd700;
}

footer {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-logo {
    font-size: 25px;
    font-weight: 500;
}

.copyrigth {
    font-family: sans-serif;
    font-weight: 500;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.modal-content {
    width: 25vw;
    height: 70vh;
    background: #0d0d0d;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px 10px;
}

.character-image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.character-details {
    font-size: 16px;
    font-weight: lighter;
    color: #ffd700;
}

@media screen and (max-width: 480px) {
    .header-container {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    i:active {
        transform: scale(1.3);
    }

    h2 {
        text-align: center;
        font-size: 20px;
    }

    .buttons-container {
        display: flex;
        justify-content: space-around;
    }

    .footer-logo {
        font-size: 22px;
        text-align: center;
    }
}